<h1><%= @post.title %></h1>
<p><%= sanitize @post.body %></p>
<hr>
<%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-warning'%>
<%= link_to "Destroy post", post_path(@post), method: :delete, data: {confirm: "Want to delete an article"}, :class => 'btn btn-danger'%>
<hr>
